

#cw-last-updated {
  color: #989898;
  font-weight: bold;
  font-size: 1.2em;
}

#cw-temp {
  /*color: #c1c1c1;*/
  color: #FFB266;
  font-size: 3.5em;
  padding: 20px;
  padding-top: 50px;
}

#cw-temp.value {

}

#cw-temp.unit {

}

#cw-weather-icon {
  text-align: center;
  img {
    height: 100px;
    width: 100px;
  }
}

#cw-heat-index {
  color: #989898;
  padding: 20px;
  font-size: 1.5em;

  .value {
    color: #FFB266;
  }
}

#cw-heat-index.unit {

}

#cw-weather-description {
  color: #989898;
  font-size: 1.5em;
  text-align: center;
 padding: 20px;
}

#cw-humidity {
  color: #989898;
  padding: 20px;
  font-size: 1.5em;

  .value {
    font-weight: bold
  }
}

#cw-pressure {
  color: #989898;
  padding: 20px;
  font-size: 1.5em;

  .value {
    font-weight: bold
  }
}

#cw-wind-dir {
  color: #989898;
  padding: 20px;
  font-size: 1.5em;

  .value {
    font-weight: bold
  }
}

#cw-wind-spd {
  color: #989898;
  padding: 20px;
  font-size: 1.5em;

  .value {
    font-weight: bold
  }
}

#cw-station-stats {
  color: #989898;
  font-weight: bold;
  font-size: 1.2em;
}
