.aws-square {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  -moz-box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  height: 35px;
  text-align: center;
  /*background-color: #c9e5ff;*/
  background-color: #DFE2E4;
  font-weight: bold;
  color: #414141;
  padding: 8px;
}

.aws-square-selected {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  -moz-box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  box-shadow: 0px 1px 2px 0px rgba(120,120,120,0.7);
  height: 35px;
  text-align: center;
  background-color: #DFE2E4;
  font-weight: bold;
  color: blue;
  padding: 8px;
}

#squares-grid {

}